@model IEnumerable<E_CommerceMVC1.Models.OrderPost_fe>

@{
    ViewBag.Title = "AllOrdersPage";
}

<h2>All Orders</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    var orderId = @Html.ValueFor(modelItem => item.OrderId).ToString();
    <tr>
        <td>
            @Html.ActionLink(orderId, "ConfirmationPage", new { id = item.OrderId })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemQty)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>

<br />
<div>
    @Html.ActionLink("Go Back", "AdminPage")
</div>