@model E_CommerceMVC1.Models.Product_fe

@{
    ViewBag.Title = "DetailsProduct";
}

<h2>Product Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal" id="details-list">
        <dt class="details-list-title">
            @*@Html.DisplayNameFor(model => model.ImgUrl)*@
        </dt>
        
        <dd class="details-list" id="details-image">
            <!--<p>@Html.DisplayFor(model => model.ImgUrl)</p>-->
            <img id="image" src="@Html.DisplayFor(model => model.ImgUrl)" width="300" height="250" />
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>*@

        <dt class="details-list-title">
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd class="details-list">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="details-list-title">
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd class="details-list">
            $@Html.DisplayFor(model => model.Price)
        </dd>

        <dt class="details-list-title">
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd class="products-description" id="description">
            @{ var description = Html.DisplayFor(model => model.Description);
                string[] d = description.ToString().Split(',');
                foreach (string st in d)
                { <p>@st</p>}
            }
            @*@Html.DisplayFor(model => model.Description)*@
        </dd>

    </dl>
</div>
<p id="details-buttons">
    @*@Html.ActionLink("Add To Cart", "AddToCart", new { id = Model.ProductId }, new { id = "addtocart-link" }) 
    @Html.ActionLink("Back to List", "ViewProducts","", new { id = "backtolist-link" })*@
</p>

<div id="cart-buttons-container">
    @Html.ActionLink("Back To List", "ViewProducts", "", new { id = "backtolist-link" })
    @Html.ActionLink("Add To Cart", "AddToCart", new { id = Model.ProductId }, new { id = "addtocart-link-details" })
</div>