@model IEnumerable<E_CommerceMVC1.Models.Product_fe>

@{
    ViewBag.Title = "ViewProducts";
}

<h2>Skateboard Store</h2>

<table id="products-table">

    @{
        var itemcnt = 0;
    }


    @foreach (var item in Model)
    {
        <!--<tr>
        <td>-->
        @*@Html.DisplayFor(modelItem => item.ImgUrl)*@
        <!--<img src="@*Html.DisplayFor(modelItem => item.ImgUrl)*@" width="300" height="250" />
            </td>
            <td>
                @*Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId }) |
                @using (Html.BeginForm("AddToCart", "Home", FormMethod.Get, new { id = item.ProductId }))
                {
                    <button type="submit">here</button>
                }
                    @Html.ActionLink("Details", "DetailsProduct", new { id = item.ProductId })*@
                </td>
        </tr>-->
        @*using (Html.BeginForm("DetailsProduct", "Home", FormMethod.Get, new { id = item.ProductId }))
            {*@

        if (itemcnt == 0)
        {
            <tr class="products-row"></tr>
            itemcnt++;
        }
        else if (itemcnt == 2)
        {
            itemcnt = 0;
        }
        else
        {
            itemcnt++;
        }

        var pid = item.ProductId;
        @*<tr>*@
            <td class="products-data">
                <img src="@Html.DisplayFor(modelItem => item.ImgUrl)" class="skateboard-image" onclick="GoToDetails(@pid)" width="300" height="250" />
                <br /><br />
                @*@Html.DisplayFor(modelItem => item.ProductId)<br />*@
                <p id="view-name" class="product-name" onclick="GoToDetails(@pid)">@Html.DisplayFor(modelItem => item.Name)</p>             
                <p id="product-description" class="view-product">@Html.DisplayFor(modelItem => item.Description)</p>
                <p id="product-price" class="view-product">$@Html.DisplayFor(modelItem => item.Price)</p>
                <p id="addtocart-paragraph" class="view-product">@Html.ActionLink("Add To Cart", "AddToCart", new { id = item.ProductId }, new { id = "addtocart-link" })</p>
            </td>
        @*</tr>*@
        @*}*@
    }

</table>
